* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: -0.5px;
  box-sizing: border-box;
}
body {
  padding: 2rem 1rem;
}

.main {
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  text-align: center;
}

.heading h1 {
  margin-bottom: 0.75rem;
}
.heading p {
  opacity: 70%;
}

.score-board {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.reset {
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 0.75rem 0;
}

.scores {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 3 1 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.score-card {
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.7);
}

.score {
  margin-right: 1rem;
}

.winner {
  color: green;
  font-weight: 600;
  font-size: 1rem;
}

.display {
  display: none;
}

.buttons {
  /* min-height: 48px; */
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

button {
  padding: 0.75rem;
  background-color: rgb(16, 88, 120);
  border-style: none;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  flex: 1 1 0;
}

button:disabled {
  opacity: 0.3;
}

.play-history {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
}

.play-round {
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(241, 240, 255);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.round-data {
  flex: 2 1 0;
}
.round-winner {
  flex: 1 1 0;
  min-width: 6.5rem;
}

.play-round h5 {
  margin-bottom: 0.25rem;
}

.player-choice {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.player-choice :first-child {
  min-width: 9.5rem;
}
.player-choice :last-child {
  min-width: 11.25rem;
}

.emphasis {
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
